<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>pickup_2x.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {35, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{35, 30}</string>
			<key>spriteSourceSize</key>
			<string>{39, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 260}, {35, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pickup_shrink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {39, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{39, 40}</string>
			<key>spriteSourceSize</key>
			<string>{45, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 260}, {39, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pickup_wings.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {51, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{51, 41}</string>
			<key>spriteSourceSize</key>
			<string>{53, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 260}, {51, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_amoeba.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {82, 76}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{82, 76}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 260}, {82, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spore_blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {37, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{37, 36}</string>
			<key>spriteSourceSize</key>
			<string>{39, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 260}, {37, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spore_purple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {37, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{37, 36}</string>
			<key>spriteSourceSize</key>
			<string>{39, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{219, 260}, {37, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wall.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 256}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {256, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>