<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background_color</key>
	<dict>
		<key>b</key>
		<integer>70</integer>
		<key>g</key>
		<integer>70</integer>
		<key>r</key>
		<integer>70</integer>
	</dict>
	<key>SpriteSheetPlistName</key>
	<string>BallGameSpriteSheet.plist</string>
	<key>SpriteSheetPngName</key>
	<string>BallGameSpriteSheet.png</string>
	<key>max_speed</key>
	<integer>10</integer>
	<key>world_gravity</key>
	<integer>300</integer>
</dict>
</plist>
